body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.bg-header {
    background: -webkit-linear-gradient(to right, #3b4efd, #20135e);
    background: -o-linear-gradient(to right, #3b4efd, #20135e);
    background: -moz-linear-gradient(to right, #3b4efd, #20135e);
    background: linear-gradient(to right, #3b4efd, #20135e);
  }

.container {
    display: flex;
    margin: 0 0;
    max-width: 100%;
}

.container-fluid {
    margin: 0 6rem
}

.column {
    float: left;
}
  
.left {
    width: 30%;
    margin: 5px;
}
  
.right {
    width: 50%;
    margin: 5px;
}

.searchBtn {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}

.historySearchBtn {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}

.card-header {
    background-color: #20135e;
    text-align: center;
    padding: 0;
}

.currentWeather {
    padding-left: 1rem;
}

.card-body {
    padding: 0;
}

.forecast {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
}

.forecast-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

#weatherIcon1,
#weatherIcon2,
#weatherIcon3,
#weatherIcon4,
#weatherIcon5 {
    text-align: center;
}

#day1 {
    width: 150px;
    height: 300px;
    margin-right: 10px;
}
#day2 {
    width: 150px;
    height: 300px;
    margin-right: 10px;
}
#day3 {
    width: 150px;
    height: 300px;
    margin-right: 10px;
}
#day4 {
    width: 150px;
    height: 300px;
    margin-right: 10px;
}
#day5 {
    width: 150px;
    height: 300px
}